doctype html
html
   head
      title
      link(rel="stylesheet", href="../css/style.css") 
   body
      include ./header.pug
      h1=title 
      h4=msj
      img(src=img)
      include ./footer.pug
         img(src="../img/footer.png", alt="")